body {
    text-align: center;
    background: rgb(229, 45, 39);
    background: linear-gradient(90deg, rgba(229, 45, 39, 1) 0%, rgba(220, 40, 30, 1) 35%);
}

#title {
    color: white;
    font-family: Arial, serif;
    font-size: 30px;
}

form {
    background-color: white;
    max-width: 500px;
    margin: 50px auto;
    padding: 30px 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

.input-control {
    text-align: left;
    margin-bottom: 25px;
}

.input-control label {
    display: block;
    margin-bottom: 10px;
}

.input-control input, .input-control select {
    border: 1px solid #777;
    border-radius: 5px;
    font-family: inherit;
    padding: 10px;
    display: block;
    width: 95%;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}

button {
    color: white;
    padding: 18px 20px;
    background-color: mediumblue;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: inherit;
    font-size: 21px;
    display: block;
    width: 50%;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 25%;
}

